{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block table %}
<br></br>
<h1 class="page-header"> Gestion des Rendez-vous </h1>
<br></br>
<a href="/Cabinet/Administration/Gestionrdv/créer" class="btn btn-success"><i class="far fa-plus-square"></i></a>
<body>

<br></br>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="far fa-question-circle"></i>
            </div>
            <div class="modal-header">
                <h4>Voulez-vous supprimer cet élément ?</h4>
            </div>
            <div class="modal-body">
                Cette action est irréversible !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a class="btn btn-danger btn-ok">Supprimer</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-stripped">
    <thead class="thead-light">
    <div class="row">
     <div class="col-4">
      <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('searchrdv') }}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Cin..." name ="search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-dark"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
    </div>
     <div class="col-8"></div>
   </div> 
   <br></br>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Cin</th>
        <th>Num_tél</th>
        <th>Date</th>
        <th>Séance</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
          {% for rdv in rdvs %}
          <tr>
        <td>{{rdv.nom}}</td>
        <td>{{rdv.prenom}}</td>
        <td>{{rdv.cin}}</td>
        <td>{{rdv.numTel}}</td>
        <td>{{rdv.dateRdv}}</td>
        <td>{{rdv.seance}}</td>
        <td><a href="/Cabinet/Administration/Gestionrdv/edit/{{rdv.id}}" class="btn btn-warning"><i class="far fa-edit"></i></a>
        <button class="btn btn-danger" data-href="/Cabinet/Administration/Gestionrdv/delete/{{rdv.id}}" data-toggle="modal" data-target="#confirm-delete">
        <i class="far fa-trash-alt"></i>
        </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </body>
{% endblock %}