<!DOCTYPE html>
<html lang="fr">

  <head>

  <style>
    C1 { color: #000000; }
    C2 { color: #FFFFFF; }
  </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../icon.ico">

    <title>{% block title %}Cabinet Medicale{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('fontawesome-free-5.3.1-web/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('fontawesome-free-5.3.1-web/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('fontawesome-free-5.3.1-web/css/all.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('icon.ico') }}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('css/full-slider.css') }}" >
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker-standalone.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">


{% block stylesheets %}
{% endblock %}

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #cccccc;">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="../../../../icon.ico"> Cabinet Médicale </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <p align="right">
            {% if is_granted("ROLE_DOCTOR") %}

            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary" href="/Cabinet/Administration"><i class="fas fa-home"></i></a>
            </li>                   
            <li class="nav-item">

            {% elseif is_granted("ROLE_ASSISTANT") %}

            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary" href="/Cabinet/Administration"><i class="fas fa-home"></i></a>
            </li>                   
            <li class="nav-item">

            {% elseif is_granted("ROLE_USER") %} 

            <li class="nav-item">
              <a class="nav-link" href="/">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/apropos">À-propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a> 
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/PrendreRDV"><i class="far fa-calendar-check"> Rendez-vous</i></a>
              <a class="dropdown-item" href="/voirmafiche"><i class="far fa-file-alt"> Ma fiche</i></a>
            </div>
            </li>  

            {% else %}

            <li class="nav-item">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/apropos">À-propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a> 
            </li>

            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li>
          <C1>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h5><i class="fas fa-user"></i> {{ app.user.username }} 
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-secondary">
                     Déconnexion <i class="fas fa-sign-out-alt"></i>
                </a></h5>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-info">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-secondary">
                  S'inscrire
                </a>
            {% endif %}
          </C1>   
            </li> 
          </ul>
        </div>
      </div>
    </nav>

    <header>

    </header>

    <!-- Page Content -->
    <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <br></br>
              {% for flash_message in app.session.flashbag.get('notice') %}
              <center><div class="alert alert-info">{{flash_message}}</div></center>
              {% endfor %}
              {% block table %}{% endblock %} 
            </div>
        </div> 
    </div>
    </section>
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          {% block left %}{% endblock %}
          </div>
          <div class="col-md-4">
            
            {% block body %}{% endblock %}
          </div>
          <div class="col-md-4">
            {% block right %}{% endblock %}
          </div>
        </div>
    </section>
        {% if is_granted("ROLE_DOCTOR") %}
    <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            {% block downleft %}{% endblock %}     
            </div>
        </div>
    </div>
    </section>
    {% endif %}
        <section class="py-5">
    <div class="container">
      <div class="row">
      <div class="col-md-4"> 
      </div>
   </div>  

        <div class="row">
            <div class="col-md-4"> 
            </div>
        </div>
    </div>
    </section>

    <!-- Footer -->
    <footer class="py-5" style="background-color: #cccccc;">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <center>
            <h6><span class="copyright">Copyright &copy; Labiadh&Miledi company 2020</span></h6>
          </center>
          </div>
          <div class="col-md-4">
            <center><C1>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                  <h5><a class="btn btn-dark" href="http://twitter.com"><i class="fab fa-twitter"></i></a><h5>
              </li>
              <li class="list-inline-item">
                  <h5><a class="btn btn-dark" href="http://facebook.com"><i class="fab fa-facebook-f"></i></a></h5>
              </li>
              <li class="list-inline-item">
                  <h5><a class="btn btn-dark" href="http://linkedin.com"><i class="fab fa-linkedin-in"></i></a><h5>
              </li>
            </ul>
          </C1></center>
          </div>
          <div class="col-md-4">
            <center>
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <h6>Privacy Policy</h6>
              </li>
              <li class="list-inline-item">
                <h6>Terms of Use</h6>
              </li>
            </ul>
          </center>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/jquery-3.1.1.min.js') }}">
    </script>
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/bootstrap.min.js') }}">
    </script>
    <script>
      $('#confirm-delete').on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
      });
    </script> 
     {% block javascripts %}
     {% endblock %}
  
  </body>
</html>
